html body{
    margin:0%;
    padding: 0;
    
}
Body {

    background-color: rgb(117, 236, 191);
}

header img {
    width: 300px; height: 400px;
    border: 20px solid lightslategray;
    border-radius: 100%;

}
header{
    text-align:center; 
    line-height: 0;
    background-color: rgb(1, 48, 43);
    padding: 20px;
    margin: 0;
    background-image: url('./../Images/hero\ 6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    
}
main {
    width: 800px;
    margin: 0 auto;
}
